pandas
numpy
seaborn
matplotlib
scikit-learn
catboost
xgboost
dill
Flask
#-e as per video it should be commented when new library installed
#-e . in video code it is commented
#had to remove -e . since it gives error during pip install -r requirements.txt 
#-e . #it auto triggers setup.py 